@font-face {
   font-family: 'CircularStd-Bold';
   // src: url('../fonts/Apercu-Regular.eot');
   src: url('../fonts/CircularStd-Bold.otf');
   // src: url('../fonts/Apercu-Regular.woff') format('woff'),
   // url('../fonts/Apercu-Regular.ttf') format('truetype'),
   // url('../fonts/Apercu-Regular.svg') format('svg');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'CircularStd-Medium';
   // src: url('../fonts/Apercu-Regular.eot');
   src: url('../fonts/CircularStd-Medium.otf');
   // src: url('../fonts/Apercu-Regular.woff') format('woff'),
   // url('../fonts/Apercu-Regular.ttf') format('truetype'),
   // url('../fonts/Apercu-Regular.svg') format('svg');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'DINCondensed-Bold';
   src: url('../fonts/INCondensedBold.eot');
   src: url('../fonts/DINCondensedBold.otf');
   src: url('../fonts/INCondensedBold.woff') format('woff'),
   url('../fonts/INCondensedBold.ttf') format('truetype'),
   url('../fonts/INCondensedBold.svg') format('svg');
   font-weight: normal;
   font-style: normal;
}

//--- Varialbles

/* Screen Sizes */
$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;

/* Fonts */
$font-stackCB: 'CircularStd-Bold', 'Helvetica', sans-serif;
$font-stackCM: 'CircularStd-Medium', 'Helvetica', sans-serif;
$font-stackDB:'DinCondensed-Bold', 'Helvetica', sans-serif;

/* Colors */
$bg-gradient: linear-gradient(-225deg, rgba(166,189,242,0.15) 0%, rgba(157,169,232,0.15) 42%, rgba(211,187,216,0.15) 76%, rgba(249,192,176,0.15) 100%) no-repeat fixed;
$blk: #292B2F;
$purple: #9F96DF;
$white: #FFF;



//*****************************
//      BASE ELEMENTS
//*****************************

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
   background: $bg-gradient;
   width: 100%;
   max-width: 1440px;
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

header, nav {
   width: 100%;
   margin: 0 auto;
   display: block;
}

p {
   margin: 0 auto;
   text-align: center;
}

//
// [class*='col-'] {
//   float: left;
// }



//*****************************
//      BASE STYLES
//*****************************

// .grid {
//    margin: 0 auto;
//    display: block;
//    width: 100%;
//    &:after {
//       content: "";
//       display: table;
//       clear: both;
//    }
// }

nav {
   margin: 0 auto 42px;
   text-align: center;

   a {
      width: 100%;
      max-width: 225px;
      padding-right: 38px;
      text-decoration: none;
      font-family: $font-stackCB;
      font-size: 14px;
      letter-spacing: 0.35px;
      line-height: 18px;
      color: $blk
   }

   a:last-of-type {
      padding-right: 0;
   }
}

.full-width {
   width: 100%;
}

.wrapper {
   width: calc(100% - 20px);
   margin: 0 auto;
}

.container {
   position: absolute;
   top: 0;
}

.name-container {
   text-transform: uppercase;
   font-family: $font-stackDB;
   position: relative;
   z-index: 100;
}

.intro-container {
   text-transform: uppercase;
   font-family: $font-stackCB;
   position: relative;
   z-index: 100;
}


.projects {
   width: 80%;
   z-index: 100;
   display: block;
   margin-top: 34px;
   margin-bottom: 0;
}

.projects a {
   display: block;
   height: 7px;
   width: 20px;
   cursor: pointer;
   position: relative;
}
.projects a:after {
   height: 2px;
   width: 12px;
   position: absolute;
   display: block;
   content: "";
   background-color: #C4C2C7;
}

.projects a.active:after  {
   background-color: $purple;
   width: 20px;
   -moz-transition: width 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
   -o-transition: width 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
   -webkit-transition: width 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
   transition: width 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
}


.vertical-text {
   width: 100%;
   margin: 0 auto;
}

.scroll {
   width: 40px;
   -webkit-transform: rotate(270deg);
   -ms-transform: rotate(270deg);
   transform: rotate(270deg);
   display: block;
   z-index: 10000;
   border-bottom: 5px solid #EDD5D5;
   font-size: 14px;
   letter-spacing: 0.2px;
   line-height: 20px;
   color: $blk;
   font-family: $font-stackCM;
   span {
      color:$white;
   }
}






/****************************
   MEDIA QUERIES
****************************/


/************ Mobile *************/
@media screen and (min-width: $mobile) {

   .logo {
      z-index: 0;
      margin: 22px auto 16px;
      display: block;
   }

   .profile-img-container {
      width: 100%;
      position: relative;
      right: 0;
      z-index: 400px;
      max-height: 450px;

      .m-profile-img {
         width: 100%;
         z-index: 1;
         padding-left: 21%;
         min-height: 450px;
      }

      .copy {
         position: absolute;
         z-index: 1000;
         top: 220px;
         left: 30.2%;

         p {
            text-align: left;
            font-size: 12px;
            letter-spacing: 0.15px;
            line-height: 20px;
            font-family: $font-stackCM;
            color: $white;
         }

      }

   }

   .text-container {
      width: 10%;
      position: relative;
      margin: 0px -11% -10% 78%;
      margin-top: -18px;
      left: 20px;
      right: 16px;
      z-index: 700;
   }

   .name-container {
      // padding-top: 48px;
      padding-top: 55px;
      padding-left: 5px;

      .name {
         font-size: 30px;
         color: #292B2F;
         letter-spacing: 1.5px;
         line-height: 30px;
         margin: 0;

         span {
            padding-left: 16px;
         }
      }
   }

   .intro-container p {
      width: 100%;
      max-width: 165px;
      font-size: 10px;
      line-height: 20px;
      letter-spacing: 1px;
      text-align: left;
      margin-top: 43px;
   }

   .intro-container p, .projects {
      margin-left: 20px;
   }

   .btn-container {
      margin: 114px 0 0 5px;
      position: relative;
      z-index:10000;

      a {
         text-decoration: none;
         padding: 18px 64px;
         font-size: 16px;
         font-family: $font-stackCM;
         letter-spacing: 0.4px;
         color: $white;
         background: linear-gradient(-134deg, #A59FD9 0%, #E8CBCA  100%);
      }
   }


}

/************ TABLET *************/
@media screen and (min-width: $tablet) {


}

/************ DESKTOP *************/
@media screen and (min-width: $desktop) {


}
