@font-face {
   font-family: 'Apercu-Regular';
   src: url('../fonts/Apercu/Apercu-Regular.eot');
   src: url('../fonts/Apercu/Apercu-Regular.otf');
   src: url('../fonts/Apercu/Apercu-Regular.woff') format('woff'),
   url('../fonts/Apercu/Apercu-Regular.ttf') format('truetype'),
   url('../fonts/Apercu/Apercu-Regular.svg') format('svg');
   font-weight: normal;
   font-style: normal;
}

// @font-face {
//    font-family: 'CircularStd-Bold';
//    // src: url('../fonts/Apercu-Regular.eot');
//    src: url('../fonts/CircularStd-Bold.otf');
//    // src: url('../fonts/Apercu-Regular.woff') format('woff'),
//    // url('../fonts/Apercu-Regular.ttf') format('truetype'),
//    // url('../fonts/Apercu-Regular.svg') format('svg');
//    font-weight: normal;
//    font-style: normal;
// }
// @font-face {
//    font-family: 'CircularStd-Medium';
//    // src: url('../fonts/Apercu-Regular.eot');
//    src: url('../fonts/CircularStd-Medium.otf');
//    // src: url('../fonts/Apercu-Regular.woff') format('woff'),
//    // url('../fonts/Apercu-Regular.ttf') format('truetype'),
//    // url('../fonts/Apercu-Regular.svg') format('svg');
//    font-weight: normal;
//    font-style: normal;
// }
@font-face {
   font-family: 'DINCondensed-Bold';
   src: url('../fonts/DIN/DINCondensedBold.eot');
   src: url('../fonts/DIN/DINCondensedBold.otf');
   src: url('../fonts/DIN/DINCondensedBold.woff') format('woff'),
   url('../fonts/DIN/DINCondensedBold.ttf') format('truetype'),
   url('../fonts/DIN/DINCondensedBold.svg') format('svg');
   font-weight: normal;
   font-style: normal;
}

//--- Varialbles

/* Screen Sizes */
$mobile: 320px;
$sm-tablet: 460px;
$md-tablet: 650px;
$tablet: 768px;
$lg-tablet: 960px;
$sm-desktop: 1200px;
$desktop: 1440px;

/* Fonts */
$font-stackCB: 'Apercu-Regular', 'Helvetica', sans-serif;
$font-stackCM: 'Apercu-Regular', 'Helvetica', sans-serif;
$font-stackDB:'DINCondensed-Bold', 'Helvetica', sans-serif;

/* Colors */
$bg-gradient: linear-gradient(-225deg, rgba(166,189,242,0.15) 0%, rgba(211,187,216,0.15) 42%, rgba(157,169,232,0.15)  76%,  rgba(249,192,176,0.15) 100%) no-repeat fixed;
$blk: #292B2F;
$purple: #9F96DF;
$white: #FFF;
$btn-gradient: linear-gradient(-134deg, #A59FD9 0%, #E8CBCA 100%);



//*****************************
//      BASE ELEMENTS
//*****************************

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
   width: 100%;
   max-width: 1665px;
   margin: 0 auto;
   padding: 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   background: $bg-gradient;
}

p {
   margin: 0 auto;
   text-align: center;
}

a {
   cursor: pointer;
   text-decoration: none;
}

//*****************************
//      ANIMATIONS
//*****************************

/* SLIDE UP, FADE IN */

.slide-up-fade-in {
   animation: slide-up-fade-in ease;
   animation-iteration-count: 1;
   transform-origin: 50% 50%;
   animation-fill-mode:forwards; /*when the spec is finished*/
   -webkit-animation: slide-up-fade-in ease;
   -webkit-animation-iteration-count: 1;
   -webkit-transform-origin: 50% 50%;
   -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
   -moz-animation: slide-up-fade-in ease;
   -moz-animation-iteration-count: 1;
   -moz-transform-origin: 50% 50%;
   -moz-animation-fill-mode:forwards; /*FF 5+*/
   -o-animation: slide-up-fade-in ease;
   -o-animation-iteration-count: 1;
   -o-transform-origin: 50% 50%;
   -o-animation-fill-mode:forwards; /*Not implemented yet*/
   -ms-animation: slide-up-fade-in ease;
   -ms-animation-iteration-count: 1;
   -ms-transform-origin: 50% 50%;
   -ms-animation-fill-mode:forwards; /*IE 10+*/
   opacity:0;
}

@keyframes slide-up-fade-in {
   0% {
      opacity:0;
      transform:  translate(0px,20px)  ;
   }
   100% {
      opacity:1;
      transform:  translate(0px,0px)  ;
   }
}

.slide-up-fade-in.one {
   -webkit-animation-delay: 0.4s;
   -moz-animation-delay: 0.4s;
   -o-animation-delay: 0.4s;
   -ms-animation-delay: 0.4s;
   animation-delay: 0.4s;
   -webkit-animation-duration: 2s;
   -moz-animation-duration: 2s;
   -o-animation-duration: 2s;
   -ms-animation-duration: 2s;
   animation-duration: 2s;
}

.slide-up-fade-in.two {
   -webkit-animation-delay: 0.6s;
   -moz-animation-delay: 0.6s;
   -o-animation-delay: 0.6s;
   -ms-animation-delay: 0.6s;
   animation-delay: 0.6s;
   -webkit-animation-duration: 1s;
   -moz-animation-duration: 1s;
   -o-animation-duration: 1s;
   -ms-animation-duration: 1s;
   animation-duration: 1s;
}
.slide-up-fade-in.three {
   -webkit-animation-delay: 0.9s;
   -moz-animation-delay: 0.9s;
   -o-animation-delay: 0.9s;
   -ms-animation-delay: 0.9s;
   animation-delay: 0.9s;
   -webkit-animation-duration: 1s;
   -moz-animation-duration: 1s;
   -o-animation-duration: 1s;
   -ms-animation-duration: 1s;
   animation-duration: 1s;
}

.slide-up-fade-in.four {
   -webkit-animation-delay: 1s;
   -moz-animation-delay: 1s;
   -o-animation-delay: 1s;
   -ms-animation-delay: 1s;
   animation-delay: 1s;
   -webkit-animation-duration: 1s;
   -moz-animation-duration: 1s;
   -o-animation-duration: 1s;
   -ms-animation-duration: 1s;
   animation-duration: 1s;
}

.slide-up-fade-in.five {
   -webkit-animation-delay: 1.2s;
   -moz-animation-delay: 1.2s;
   -o-animation-delay: 1.2s;
   -ms-animation-delay: 1.2s;
   animation-delay: 1.2s;
   -webkit-animation-duration: 1s;
   -moz-animation-duration: 1s;
   -o-animation-duration: 1s;
   -ms-animation-duration: 1s;
   animation-duration: 1s;
}

.slide-up-fade-in.six {
   -webkit-animation-delay: 1.4s;
   -moz-animation-delay: 1.4s;
   -o-animation-delay: 1.4s;
   -ms-animation-delay: 1.4s;
   animation-delay: 1.4s;
   -webkit-animation-duration: 1s;
   -moz-animation-duration: 1s;
   -o-animation-duration: 1s;
   -ms-animation-duration: 1s;
   animation-duration: 1s;
}


/* SLIDE RIGHT */
.slide-right-fade-in {
   animation: slide-right-fade-in ease 2.5s;
   animation-iteration-count: 1;
   transform-origin: 50% 50%;
   animation-fill-mode:forwards; /*when the spec is finished*/
   -webkit-animation: slide-right-fade-in ease 2.5s;
   -webkit-animation-iteration-count: 1;
   -webkit-transform-origin: 50% 50%;
   -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
   -moz-animation: slide-right-fade-in ease 2.5s;
   -moz-animation-iteration-count: 1;
   -moz-transform-origin: 50% 50%;
   -moz-animation-fill-mode:forwards; /*FF 5+*/
   -o-animation: slide-right-fade-in ease 2.5s;
   -o-animation-iteration-count: 1;
   -o-transform-origin: 50% 50%;
   -o-animation-fill-mode:forwards; /*Not implemented yet*/
   -ms-animation: slide-right-fade-in ease 2.5s;
   -ms-animation-iteration-count: 1;
   -ms-transform-origin: 50% 50%;
   -ms-animation-fill-mode:forwards; /*IE 10+*/
   opacity:0;
}

@keyframes slide-right-fade-in {
   0% {
      opacity:0;
      transform:  translate(-40px,0px)  ;
   }
   100% {
      opacity:1;
      transform:  translate(0px,0px)  ;
   }
}


//*****************************
//      BASE STYLES
//*****************************

.full-width {
   width: 100%;
   max-width: 1665px;
   margin: 0 auto;
}

header {
   position: fixed;
   z-index: 1000;
}

nav.nav {
   position: relative;

   a:after {
      background: none repeat scroll 0 0 transparent;
      bottom: -5px;
      content: "";
      display: block;
      height: 4px;
      position: absolute;
      background: $btn-gradient;
      -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
      -moz-transition: width 0.3s ease 0s, left 0.3s ease 0s;
      -o-transition: width 0.3s ease 0s, left 0.3s ease 0s;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
   }
}

#projects {
   height: 100%;
}

.slide {
   position: absolute;
   top: 0;
   left: 0;
   height: 0;
   width: 100%;
   overflow: hidden;
   -webkit-transition: height 0.5s ease-out;
   -moz-transition: height 0.5s ease-out;
   -o-transition: height 0.5s ease-out;
   transition: height 0.5s ease-out;
}

.slide:nth-child(1) { z-index:10; background: linear-gradient(-225deg, #F2F5FD 0%, #F1F3FA 42%, #F7F5FA 76%, #FEF6F5 100%); }
.slide:nth-child(2) { z-index:9; background: white;}
.slide:nth-child(3) { z-index:8; background: white; }
.slide:nth-child(4) { z-index:7; background: white;  }
.slide:nth-child(5) { z-index:6;background: white;  }
.slide:nth-child(6) { z-index:5;background: white;  }
.active.slide {
	height: 100%;
}

.container {
   position: absolute;
   top: 0;
   left: 0;
}

.slideDown {
   display: none;
}

.name-container {
   text-transform: uppercase;
   font-family: $font-stackDB;
   position: relative;
   z-index: 100;
}

.intro-container {
   text-transform: uppercase;
   font-family: $font-stackCB;
   font-weight: bold; /*take this out later*/
   position: relative;
   z-index: 100;
}

.navigation {
   width: 100%;
   z-index: 100;
   display: block;
   margin-bottom: 0;
}

.navigation a {
   display: block;
   height: 7px;
   width: 20px;
   cursor: pointer;
   position: relative;
}
.navigation a:after {
   height: 2px;
   width: 12px;
   position: absolute;
   display: block;
   content: "";
   background-color: #C4C2C7;
   -moz-transition: width 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
   -o-transition: width 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
   -webkit-transition: width 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
   transition: width 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.navigation a.active:after  {
   background-color: $purple;
   width: 20px;
   -moz-transition: width 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
   -o-transition: width 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
   -webkit-transition: width 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
   transition: width 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.vertical-text {
   width: 100%;
   margin: 0 auto;
}

.scroll {
   width: 40px;
   -webkit-transform: rotate(270deg);
   -ms-transform: rotate(270deg);
   transform: rotate(270deg);
   display: block;
   z-index: 10000;
   border-bottom: 5px solid #EDD5D5;
   font-size: 14px;
   letter-spacing: 0.2px;
   line-height: 20px;
   color: $blk;
   font-family: $font-stackCM;
   span {
      color:$white;
   }
}


/****************************
   MEDIA QUERIES
****************************/


/************ Mobile *************/
@media screen and (min-width: 320px) {
   /*------------ MAIN SECTION (MOBILE)--------------*/
   header, nav.nav {
      width: 100%;
      margin: 0 auto;
      display: block;
      top: 0;
   }

   .logo {
      z-index: 0;
      margin: 22px auto 16px;
      display: block;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
   }

   .logo:hover {
      transition: 0.5s;
   }

   nav.nav {
      margin: 0 auto 42px;
      text-align: center;

      .nav-wrap {
         display: inline-block;
         position: relative;
         padding-right: 38px;
      }

      a {
         width: 100%;
         max-width: 225px;
         text-decoration: none;
         font-family: $font-stackCB;
         font-weight: bold; /*take this out later*/
         font-size: 14px;
         letter-spacing: 0.35px;
         line-height: 18px;
         color: $blk

      }

      #last {
         padding-right: 0;
      }

   }

   a.contact {
      padding-right: 0 !important;
   }

   //ease in left
   .about:hover:after {
      position: absolute;
      width: 58%;
      left: 0%;
   }
   .github:hover:after {
      width: 53%;
      left: 0%;
   }

   .contact:hover:after {
      width: 100%;
      left: 0%;
   }

   //ease out right
   nav.nav .about:after, nav.nav .github:after {
      // position: absolute;
      right: 37px;
   }

   nav.nav .contact:after {
      right: 0px;
   }

   .profile-img-container {
      width: 100%;
      position: relative;
      right: 0;
      z-index: 400;
      padding-left: 21%;
      top: 131px;

      .m-profile-img {
         width: 100%;
         z-index: 1;
         min-height: 450px;
      }

      .t-profile-img, .d-profile-img {
         display: none;
      }

      .copy {
         position: absolute;
         z-index: 1000;
         top: 220px;
         left: 30.2%;

         p {
            text-align: left;
            font-size: 12px;
            letter-spacing: 0.15px;
            line-height: 20px;
            font-family: $font-stackCM;
            color: $white;
         }

      }

   }

   .text-container {
      position: relative;

      .vertical-text {
         width: 10%;
         margin: 0px -11% -10% 68%;
         margin-top: -18px;
         left: 20px;
         right: 16px;
         z-index: 700;
      }
   }

   .name-container {
      position: absolute;
      top: 50%;
      left: 50%;
      max-width: 360px;
      max-height: 160px;
      margin-top: 178px;
      margin-left: 15px;
      z-index: 1000;

      .name {
         // font-size: 30px;
         font-size: calc( 35px + (60 - 35) * ( (100vw - 400px) / (800 - 400) ));
         color: $blk;
         letter-spacing: 1.5px;
         // line-height: 30px;
         line-height: calc( 35px + (60 - 35) * ( (100vw - 400px) / (800 - 400) ));

         margin: 0;

         span {
            padding-left: 18px;
         }
      }
   }

   .intro-container p {
      width: 100%;
      max-width: 165px;
      font-size: 10px;
      line-height: 17px;
      letter-spacing: 1px;
      text-align: left;
      margin-bottom: 25px;
      margin-top: 16%
   }

   .intro-container p, nav.projects {
      margin-left: 30px;
   }

   .navigation {
      position: relative;
      top: 238px;
      z-index: 10;
   }

   .btn-container {
      width: 190px;
      height: 55px;
      margin: -120px 0 0 -52px;
      position: relative;
      z-index:100;
      cursor: pointer;
      background: $btn-gradient;
      box-shadow: 0 10px 20px 0 rgba(147,162,216,0.25);

      a {
         width: 100%;
         margin: 0 auto;
         text-decoration: none;
         font-size: 16px;
         font-family: $font-stackCM;
         letter-spacing: 0.4px;
         color: $white;
         cursor: pointer;
         text-align: center;
         position: absolute;
         top: 50%;
         transform: translate(0, -50%);


      }

   }

   /*------------PROJECTS (MOBILE) --------------*/

   .project-img-container {
      width: 100%;
      position: relative;
      right: 0;
      z-index: 400;
      padding-left: 21%;
      top: 140px;
      img {
         width: 100%;
      }

      img.t-sw-img, img.d-sw-img {
         display: none;
      }
      img.m-sw-img {
         max-height: 450px;
      }
   }

   .project-headline {
      position: relative;
      h2 {
         position: absolute;
         font-family: $font-stackDB;
         font-size: 28px;
         letter-spacing: 1px;
         line-height: 30px;
         color: #292B2F;
         text-transform: uppercase;
         margin: 48px 0 0 -50px;
      }
   }

   .mobile-btn {
      bottom: 34px;
   }

   .desktop-btn {
      display: none;
   }

   .view-btn-container {
      width: 200px;
      height: 55px;
      background: $btn-gradient;
      text-align: center;
      margin: 0 auto;
      cursor: pointer;
      position: relative;
      box-shadow: 0 10px 20px 0 rgba(147,162,216,0.25);
      a {
         position: absolute;
         top: 50%;
         transform: translate(-50%, -50%);
         text-decoration: none;
         cursor: pointer;
         font-size: 16px;
         font-family: $font-stackCM;
         letter-spacing: 0.4px;
         color: $white;
         margin: 0 auto;
         text-align: center;
      }

   }

   .view-btn-container:hover, .desktop-btn:hover, .btn-container:hover {
      background: linear-gradient(-134deg,#8A82CC 0%, #E9C1C0 100%);
      box-shadow: 0 10px 20px 0 rgba(147,162,216,0.5);
      -webkit-transition: box-shadow ease-out .4s;
      -moz-transition: box-shadow ease-out .4s;
      -o-transition: box-shadow ease-out .4s;
      transition: box-shadow ease-out .4s;
   }

   .role-container {
      display: none;
      ul {
         padding: 0;
         margin: 0;
         height:auto;
         li {
            list-style: none;
            font-family: $font-stackCB;
            font-weight: bold; /*take this out later*/
            font-size: 10px;
            color: #292B2F;
            letter-spacing: 1.11px;
            line-height: 18px;
            text-transform: uppercase;
            display: inline-block;
            padding-right: 68px;
            text-align: left;
         }
         li:last-child {
            padding-right: 0;
         }
      }

      ul.dev-list {
         li{
            font-family: $font-stackCM;
            font-size: 14px;
            letter-spacing: 0.2px;
            line-height: 20px;
            text-transform: none;
         }
      }

      .dev {
         padding-right: 28px;
      }
      .agency {
         padding-right: 49px;
      }
      .frlnce {
         padding-right: 28px;
      }
      .ga {
         padding-right: 80px;
      }
      .rgba {
         padding-right: 57px;
      }

   }

}

/************ TABLET *************/

@media screen and (min-width: $sm-tablet) {

   /*------------MAIN SECTION (460px) --------------*/

   .profile-img-container{
      right: -10px;
      .m-profile-img {
         display: none;
      }
      .t-profile-img {
         display: block;
         width: 100%;
         z-index: 1;
      }
   }

   .text-container {
      .vertical-text {
         margin-top: -14px;
      }
   }

   .name-container {
      margin-left: 42px;
      .name {
         span {
            padding-left: 22px;
         }
      }
   }

   .btn-container {
      margin: -100px 0 0 -52px;
   }

   /*------------PROJECTS SECTION (460px) ------------*/

   .project-img-container {
      padding-left: 18%;
   }
}

@media screen and (min-width: $md-tablet) {

   /*------------MAIN SECTION (650px) --------------*/

   .intro-container p, nav.projects {
    margin-left: 50px;
   }

   .intro-container p {
      margin-top: 18%;
   }

   .profile-img-container {
      .copy {
         top: 44%;
      }
   }

   .btn-container {
    margin: -100px 0 0 -52px;
   }

   .name-container {
      .name {
         span {
            padding-left: 28px;
         }
      }
   }

   /*------------PROJECTS SECTION (650px) ------------*/

   .project-img-container {
      margin-left: 18%;
      padding: 0;
      background-size: cover;
      height: 61.5vh;
      .m-sw-img {
         display: none;
      }
   }

   #two {
      .project-img-container{
         background-image: url('../images/sw-img-t@2x.png');
         background-position-x: 38%;
      }
   }

   #three {
      .project-img-container{
         background-image: url('../images/paradisepizza-t@2x.png');
         background-position-x: 50%;
      }
   }

   #four {
      .project-img-container{
         background-image: url('../images/adventuretimes-t2@2x.png');
         background-position-x: 50%;
      }
   }

   #five {
      .project-img-container{
         background-image: url('../images/fitkids-t@2x.png');
      }
   }

   #six {
      .project-img-container{
         background-image: url('../images/c4-t@2x.png');
         background-position: 50% 50%;

      }
   }

   .bottom {
      width: 100%;
      height: 15.5vh;
      position: absolute;
      bottom: 0;
      .desktop-btn {
         display: block;
         position: relative;
         top: 50%;
         transform: translate3d(190px, -50%, 0px);
         z-index:1000;
      }

      .role-container {
         display: block;
         position: absolute;
         top: 4.7vh;
         right: 35px;
         left: 14%;
         z-index: 1000;
         max-width: 415px;
      }
   }

   .mobile-btn {
      display: none;
   }
}

@media screen and (min-width: $tablet) {
   /*------------MAIN SECTION (768px) --------------*/

   header, nav.nav {
      width: auto;
      margin: 0 auto 72px;
      position: relative;
   }

   .logo {
      margin: 40px 0 0 40px;
      display: inline-block;
      position: relative;
   }

   nav.nav {
      margin: 40px 40px 0 0;
      text-align: center;
      position: absolute;
      right: 0;
      top: 0;
   }


   .profile-img-container {
      right: 0;
      padding-left: 50.7%;

      .t-profile-img {
         display: block;
         width: 100%;
         z-index: 1;
         min-height: 455px;
      }

      .m-profile-img, .d-profile-img {
         display: none;
      }

      .copy {
         top: 52%;
         left: 36%;

         p {
            color: $blk;
         }
      }

   }

   .wrapper {
      width: calc(100% - 88px);
      margin: 0 auto;
   }

   .name-container {
      margin-top: 182px;
      margin-left: 159px;

      .name {
         font-size: 8.2vw;
         // font-size: 63px;
         // font-size:calc( 63px + (90 - 63) * ( (100vw - 780px) / (1000 - 100) ));
         color: $blk;
         letter-spacing: 3.15px;
         // line-height: 75px;
         line-height: 7.8vw;
         // line-height: calc( 75px + (90 - 75) * ( (100vw - 780px) / (1000 - 100) ));

         margin: 0;

         span {
            padding-left: 38px;
         }
      }
   }

   .intro-container p, nav.projects {
      margin-left: 65px;
   }

   .intro-container p {
      margin-top: -95px;
   }

   .btn-container {
      width: 200px;
      margin: -82px 0 0 -104px;
   }

   .text-container {

      .vertical-text {
         margin-top: -51px;
         margin-left: -20px;
      }

      .scroll {
         -webkit-transform: none;
         -ms-transform: none;
         transform: none;
      }
   }

   /*------------PROJECTS SECTION (768px) -----------*/


   .project-headline {
      h2 {
         margin: -18px 0 0 52px;
         font-size: 35px;
         letter-spacing: 1.75px;
         line-height: 40px;
      }
   }

   .project-img-container {
      margin-left: 162px;
      padding: 0;
      height: 55vh !important;
      img.m-sw-img, img.d-sw-img {
         display: none;
      }
      img.t-sw-img {
         display: block;
      }
   }

   #two {
      .project-img-container {
         background-image: url('../images/sw-img-t@2x.png');
         background-size: cover;
         background-position-y: 25%;
      }
   }

   #three {
      .project-img-container {
         background-image: url('../images/paradisepizza-t@2x.png');
         background-size: cover;
         background-position-y: 25%;
      }
   }

   #four {
      .project-img-container {
         background-image: url('../images/adventuretimes-t2@2x.png');
         background-size: contain;
         background-position: 25% 100%;
         background-repeat: no-repeat;
         background-color: #EFF1F8;

      }
   }

   #six {
      .project-img-container {
         background-image: url('../images/c4-t@2x.png');
         background-size: contain;
         background-position: 25%;
         background-repeat: no-repeat;
         background-color: #E9E9F3;

      }
   }

   .bottom {

      height: 24vh;

      .view-btn-container {
         left: 44px;
         right: 0;
      }

      .role-container {
         display: block;
         left: 162px;
         top: 9vh;
         right: 0;
         z-index:1000;

         .role {
            padding-right: 82px;
         }
         .dev {
            padding-right: 42px;
         }
         .agency {
            padding-right: 65px;
         }

         .frlnce {
            padding-right: 44px;
         }
         .ga {
            padding-right: 97px;
         }

         .rgba {
            padding-right: 73px;
         }
      }

   }

   .mobile-btn {
      display: none;
   }

}

@media screen and (min-width: $lg-tablet) {

   /*------------MAIN SECTION (960px) --------------*/

   .name-container {
      margin-top: 220px;
      margin-left: 205px;
      .name {
         font-size: 8vw;
         line-height: 7.5vw;
         span {
            padding-left: 45px;
         }
      }
   }

   .text-container {
      .vertical-text {
       margin-top: -70px;
      }
   }

   .profile-img-container {
      .copy {
         top: 62%;
      }
   }

   .intro-container p {
      margin-top: -60px;
   }

   /*------------PROJECTS SECTION (960px) ------------*/

   #two, #three, #four, #five, #six {
      .project-img-container {
         height: 56vh !important;
      }
   }

   .bottom {
      height: 23vh;
      .role-container {
         top: 8.5vh;
         left: 218px
      }
      .view-btn-container {
         left: 12%;
      }
   }



}

/************ DESKTOP *************/
@media screen and (min-width: $sm-desktop) {

   /*------------MAIN SECTION (1200px) --------------*/

   .profile-img-container {
      .copy {
         top: 65%;
         left: 39%;
      }

      .d-profile-img {
         display: block;
         width: 100%;
         z-index: 1;
         max-height: 660px;
      }

      .m-profile-img, .t-profile-img {
         display: none;
      }
   }

   .intro-container p {
    margin-top: -15px;
   }

   .name-container {
      margin-top: 250px;
      margin-left: 238px;
      .name {
         font-size: 6.5vw;
         line-height: 6vw;
         span {
            padding-left: 48px;
         }
      }
   }

   .text-container {
      .vertical-text {
         margin-top: -60px;
      }
   }

   /*------------PROJECTSSECTION (1200px) ------------*/

   .project-img-container {
      margin-left: 162px;
      padding: 0;
   }

   #two, #three, #four, #five, #six{
      .project-img-container {
         height: 63.5vh !important;
      }
   }

   .bottom {
      height: 19.125vh;
      .role-container {
         position: relative;
         top: 0;
         bottom: 0;
         left: 275px;
      }
      .view-btn-container {
         left: 21%;
      }
   }
}

@media screen and (min-width: $desktop) {

   /*------------MAIN SECTION (1440px) --------------*/

   header {
      margin-bottom: 62px;

      .logo {
         margin: 60px 0 0 60px;
      }

      nav.nav {
         margin: 60px 60px 0 0;
      }

   }

   .wrapper {
      width: calc(100% - 360px);
      margin: 0 auto;
   }

   .profile-img-container {

      padding-left: 50.4%;

      .d-profile-img {
         display: block;
         width: 100%;
         z-index: 1;
         max-height: 660px;
      }

      .m-profile-img, .t-profile-img {
         display: none;
      }

      .copy {
         top: 355px;
         left: 545px;

         p {
            font-size: 14px;
            letter-spacing: 0.2px;
         }
      }

   }

   .name-container {
      margin-top: 274px;
      margin-left: 280px;

      .name {
         font-size: 90px;
         color: $blk;
         letter-spacing: 4.5px;
         line-height: 85px;
         margin: 0;

         span {
            padding-left: 54px;
         }
      }
   }

   .intro-container p, nav.projects {
      margin-left: 60px;
   }

   .intro-container {
      p {
         font-size: 12px;
         line-height: 18px;
         letter-spacing: 1.5px;
      }
   }

   .text-container {
      margin: -60px 0 0 -3%;
      left: 0;
      right: 0;

      .vertical-text {
         margin: 0;
      }
   }

   .btn-container {
      margin: -82px 0 0 -77px;
   }

   /*------------PROJECTS SECTION (1440px) -----------*/

   #two {
      .project-img-container {
         background-image: url('../images/sw-img-d2.gif');
         background-size: cover;
      }
   }

   #three {
      .project-img-container {
         background-image: url('../images/paradisepizza-d@2x.png');
         background-size: cover;
      }
   }

   #four {
      .project-img-container {
         background-image: url('../images/adventuretimes-d2@2x.png');
         background-size: cover;
      }
   }
   #five {
      .project-img-container {
         background-image: url('../images/fitkids-d@2x.png');
         background-size: cover;
      }
   }
   #six {
      .project-img-container {
         background-image: url('../images/c4-d@2x.png');
         background-size: cover;
      }
   }

   .project-img-container {
      height: 63.5vh;
      margin-left: 10%;

      img.m-sw-img, img.t-sw-img {
         display: none;
      }

      .project-headline {
         h2 {
            font-size: 50px;
            letter-spacing: 2px;
            line-height: 50px;
            margin: -22px 0 0 53px;
         }
      }
   }

   .view-btn-container {
      left: 40%;
      right: 0;
   }

   .bottom {
      .view-btn-container {
         left: 25%;
      }
      .role-container {
         ul {
            li {
               font-size: 12px;
               letter-spacing: 1.33px;
               line-height: 18px;
            }
         }
         ul.dev-list {
            padding-top: 10px;
         }

         .role {
            padding-right: 140px;
         }

         .dev {
            padding-right: 105px;
         }
         .agency {
            padding-right: 120px;
         }
         .frlnce {
            padding-right: 108px;
         }
         .ga {
            padding-right: 164px;
         }
         .rgba {
            padding-right: 139px;
         }
      }


   }

}
