@import 'base-header';

/****************************
   BASE ELEMENTS
****************************/


*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
   margin:0 auto;
   padding:0;
}

body {
   background: #fff;
}

h1, h4, h5, p {
   margin: 0;
   padding: 0;
}

/****************************
   BASE STYLES
****************************/

.full-width {
   background: #EBE2E2;
   content:"";
   display: block;
   position: absolute;
   top: 0;
   bottom: 0;
   right:0;
   left:0;
}

#circle {
   position: absolute;
	background: #EBE2E2;
   bottom: 0;
   right: 0;
   left: 0;
   margin: 0 auto;
   border: 1px solid #fff;
   z-index: 1;
   background: transparent;
}

.section-about {
   .main-panel {
      position: relative;
      max-width: 700px;
      background: none;
      box-shadow: none;
      z-index: 1;

      .about-img {
         background-image: url('../images/about/g-about-m@2x.png');
         background-position: center;
         background-repeat: no-repeat;
         margin: 0 auto;
         max-height: 450px;
      }

      .bio {
         position: absolute;
         display: inline-block;
         font-family: $font-stackCB;
         font-weight: bold;
      }

      .vertical {
         font-family: $font-stackCB;
         float: right;
         transform-origin: left top 0;
         transform: rotate(270deg);
         position: fixed;

      }
      .vertical::before {
         content: '';
         display: inline-block;
         position: absolute;
         left: 92px;
         top: 8px;
         height: 2px;
         background: #000;
         width: 105px;
         vertical-align: middle
      }


      .name-container {
         position: absolute;
         right: 0;
         left: 0;
         h1{
            text-align: center;
            font-family: $font-stackDB;
         }
      }
   }
}

.section-text {
   .p-text {
      font-family: $font-stackCM;
      text-align: left;
   }

   .p-text a {
      color: transparent;
      text-shadow: 0 0 #333, 0.08em 0 0 #fff, 0 0, -0.08em 0 0 #fff;
      display: inline-block;
      overflow: hidden;
      position: relative;
      text-decoration: none;
      vertical-align: bottom;
   }

   .p-text a::after {
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 2px;
      width: 400%;
      will-change: tranform;
      z-index: -1;

   }

}


hr {
   border: 1px solid #eee;
}

.section-tech {
   margin: 0 auto;
   display: block;

   h4 {
      font-family: $font-stackCM;
      font-weight: bold;
      color: #9A6D79;
      font-size: 14px;
      letter-spacing: 1.56px;
      line-height: 18px;
      text-align: left;
      margin-bottom: 15px;
   }

   .tech {
      margin: 0 auto;
      display: block;

      h5 {
         font-family: $font-stackCM;
         font-weight: bold;
         font-size: 12px;
         letter-spacing: 1.33px;
         line-height: 18px;
         margin-top: 25px;
         margin-bottom: 15px;
      }

      p {
         font-family: $font-stackCM;
         font-weight: medium;
         font-size: 16px;
         letter-spacing: 0.23px;
         line-height: 30px;
      }
   }
}


/****************************
   MEDIA QUERIES
****************************/

@media screen and (min-width: $mobile) {

   .full-width {
      height: 300px;
   }

   #circle {
      width: 200px;
      height: 200px;
      -moz-border-radius: 200px;
      -webkit-border-radius: 200px;
      border-radius: 200px;
      top: 160px;
   }

   .section-about {
      .main-panel {
         margin: 139px auto 0;

         .about-img {
            background-size: 250px 250px;
            padding: 142px;
         }

         .bio {
            bottom: 116px;
            left: 6%;
            transform:rotate(270deg);
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 1.33px;
         }

         .vertical {
            display: none;
         }

         .name-container {
               bottom: -10px;
            h1 {
               font-size: 30px;
               line-height: 30px;
               letter-spacing: 1.5px;
            }
         }

         .blurb {
            display: none;
         }
      }
   }

   .section-text {
      .p-text {
         font-size: 12px;
         letter-spacing: 0.15px;
         line-height: 30px;
         width: 80%;
         max-width: 100%;
         margin: 10px auto 0;
      }

      .p-text:first-child {
         margin-top: 40px;
      }

      .p-text a::after {
         background: linear-gradient(-134deg, #A59FD9 60%, #E8CBCA 100%) center 1.5em/100% 2px no-repeat;
      }
   }

   hr {
      margin: 35px auto;
      width: 70%;
   }

   .section-tech {
      width: 80%;
      max-width: 100%;
      .md {
         margin-bottom: 30px;
      }
   }
}

@media screen and (min-width: $sm-tablet) {

   #circle {
      width: 255px;
      height: 255px;
      top: 120px;
   }

   .section-about {
      .main-panel {
         .about-img {
            background-size: 320px 320px;
            padding: 142px;
         }

         .name-container {
               bottom: -20px;
            h1 {
               padding-top: 20px;
            }
         }
      }
   }

   .section-text {
      .p-text {
         width: 80%;
      }
   }
}

@media screen and (min-width: $md-tablet) {

   .full-width {
      height: 348px;
   }

   #circle {
      width: 330px;
      height: 330px;
      top: 116px;
   }

   .section-about {
      .main-panel {
         .about-img {
            background-size: 420px 420px;
            padding: 192px;
         }

         .bio {
            bottom: 168px;
         }
      }
   }

   .section-text {
      .p-text:first-child {
         margin-top: 55px;
      }
   }
}

@media screen and (min-width: $tablet) {

   .full-width {
      height: 308px;
   }

   #circle {
      top: 75px;
   }

   .section-about {
      .main-panel {
         margin: -66px auto 0;
         .about-img {
            background-size: 420px 420px;
            padding: 192px;
         }

         .bio {
            transform: none;
            top: 16px;
            left: 18.5%;
         }

         .vertical {
            display: block;
            bottom: 96px;
            left: 30.5px;
         }

         .name-container {
            width: 150px;
            top: 50px;
            bottom: 0;
            left: 18.5%;
            h1 {
               padding-top: 10px;
               text-align: left;
               font-size: 35px;
               line-height: 40px;
               letter-spacing: 1.75px;
            }
         }
      }
   }

   .section-text {
      .p-text:first-child {
         margin-top: 0;
      }

      .p-text {
         // width: 450px;
         width: 58%;
         max-width: 100%;
         margin: 20px auto 0;
         font-size: 16px;
         letter-spacing: 0.23px;
         line-height: 30px;
      }

      .p-text a::after {
         background: linear-gradient(to bottom,#000,#000)center 1.25em/100% 2px no-repeat;
      }

      .p-text a:hover:after {
         -webkit-animation: underline-gradient 6s linear infinite;
         -moz-animation: underline-gradient 6s linear infinite;
         animation: underline-gradient 6s linear infinite;
         background-image: linear-gradient(90deg,#A59FD9 15%,#E8CBCA 35%,rgba(122,95,255,.8) 85%);
      }

      @keyframes underline-gradient {
        0%{
          transform: translate3d(0%, 0%, 0);
        }
        100%{
          transform: translate3d(-75%, 0%, 0);
        }
      }
   }

   hr {
      margin: 62px auto;
      width: 50%;
   }

   .section-tech {
      width: 58%;
   }
}


@media screen and (min-width: $sm-desktop) {

   .full-width {
      height: 512px;
   }

   #circle {
      top: 83px;
      width: 620px;
      height: 620px;
      -moz-border-radius: 700px;
      -webkit-border-radius: 700px;
      border-radius: 700px;
   }

   .section-about {
      .main-panel {
         .about-img {
            background-image: url('../images/about/g-about-d@2x.png');
            background-size: 640px 640px;
            padding: 330px;
         }

         .bio {
            top: 50px;
            left: -6%
         }

         .vertical {
            bottom: -7px;
            left: 55px;
         }
         .name-container {
            top: 90px;
               left: -6%;
            h1 {
               font-size: 50px;
               line-height: 50px;
               letter-spacing: 2px;
            }
         }

         .blurb {
            position: absolute;
            display: block;
            top: 254px;
            right: -30%;
            p {
               font-family: $font-stackCB;
               font-size: 14px;
               line-height: 20px;
               letter-spacing: 0.2px;
            }
         }
      }
   }

   .section-text {
      .p-text {
         width: 600px;
         padding-left: 35px;
         // width: 34%;
      }
   }

   .section-tech {
      width: 600px;
      padding-left: 35px;
      .md {
         margin-bottom: 60px;
      }

   }
}

@media screen and (min-width: $desktop) {

   .section-about {
      .main-panel {
         .blurb {
            right: -40%;
         }
      }
   }
}
